.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: rgb(184, 89, 89);
}

.cust-card {
  margin-bottom: 1.5rem;
  border-radius: 10px !important;
  text-align: center;
}

/* Making sure cards align correctly */
.card {
  height: 100%;
}