
.cell {
    width: 2rem;
    height: 2rem;
    outline: 1px solid #846B8A;
    border-style: solid;
    display: inline-block;
    color: white;
    margin: .15rem;
}

.cell-text-hidden {
    visibility: hidden;
}