
.cell {
    width: 1.75rem;
    height: 1.75rem;
    outline: 1px solid #846B8A;
    border-style: solid;
    display: inline-block;
    color: white;
}

.cell-text-hidden {
    visibility: hidden;
}