.error-text {
    font-size: large;
    margin: 1rem;
}

.total-dist {
    text-decoration: underline;
    text-decoration-color: #721817;
}

.fadeOut{
    opacity:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
    opacity:1;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}